/* BODY */
body{
    Background-color: #F6A45B;
}

/* HEADER */
header{
background-color: #f48b2f;
display:
flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
}

header li{
display: inline-block;
margin: 20px;
font-family:'Montserrat', sans-serif;
font-size: large;
font-weight: bold;
}

header a{
text-decoration: none;
color: black;
}
