/* BODY → LATO */
Body{
    font-family: 'Lato', sans-serif;
}

body{
    Background-color: #F6A45B;
}

/* HEADER */
header{
background-color:#f48b2f;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 30px;
}

/* NAV ITEMS → POPPINS */
header li{
display: inline-block;
margin: 20px;
font-family:'Poppins', sans-serif;
font-size: large;
font-weight: bold;
}

header a{
text-decoration: none;
color: black;
}

/* HEADINGS → POPPINS */
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* RESPONSIVE */
@media screen and (max-width: 922px) {

    .container {
        max-width: 95%;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    h1, h2 {
        font-size: 32px;
    }

    .welcome-section img {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 600px) {

    .container {
        max-width: 100%;
        padding: 10px;
        text-align: center;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-section ul {
        padding: 0;
    }

    .nav-section li {
        margin: 10px;
        font-size: 18px;
    }

    h1, h2 {
        font-size: 26px;
    }

    .welcome-section img {
        max-width: 95%;
        height: auto;
    }
}

.container {
    text-align: center;      /* centers all text */
    margin: 0 auto;          /* centers the whole container */
}

.welcome-section img {
    width: 600px;     /* make it longer/wider */
    height: auto;     /* keeps quality */
    display: block;   /* removes weird spacing under the image */
    margin: 0 auto;   /* centers the image */
}

.overview h2{
     font-family: 'Poppins', sans-serif;   /* heading font style */
    font-weight: 600;                     /* medium‑bold heading */
    margin-bottom: 10px;                  /* space under the heading */
}


.overview p {
    font-family: 'Lato', sans-serif;  /* paragraph font style */
    font-size: large;                 /* easy‑to‑read text size */
    color:gray;                     /* soft grey text colour */
    max-width: 700px;                 /* keeps lines from getting too long */
    margin: 0 auto;                   /* centers the paragraph block */
}